/* ---------- Global Styles ---------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 1rem;
    background-color: #f9f9f9;
    color: #1a044e;
}

/* ---------- Layout ---------- */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 960px;
    margin: 0 auto;
}

main {
    flex: 1 1 60%;
    min-width: 300px;
}

aside {
    flex: 1 1 35%;
    min-width: 250px;
}

/* ---------- Header & Nav ---------- */
header {
    margin-bottom: 1rem;
}

nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: #b71234;
    font-weight: bold;
}

/* ---------- Images ---------- */
main img {
    width: 150px;
    height: auto;
    float: right;
    margin-left: 1rem;
}

aside img {
    width: 100%;
    height: auto;
}

/* ---------- Headings ---------- */
aside h2 {
    text-align: center;
    margin-bottom: 1rem;
}

/* ---------- Paragraphs ---------- */
p {
    margin-bottom: 1rem;
}

/* ---------- Boxes ---------- */
.box {
    border: 1px solid #b71234;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #cccaca;
}

/* ---------- Lists ---------- */
ul.box {
    list-style-type: none;
    padding-left: 0;
}

ul.box li {
    margin-bottom: 0.5rem;
}

ul.box li a {
    color: #1a044e;
    text-decoration: none;
}

ul.box li a:hover {
    text-decoration: underline;
}

/* ---------- Footer ---------- */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #eee;
    margin-top: 2rem;
}

