/* General Reset */
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navigation */
nav {
  background-color: steelblue;
  padding: 1rem;
}

nav a {
  color: white;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
}

nav a:hover {
  background-color: #777;
}

/* Main Section */
main {
  max-width: 840px;
  margin: 0 auto;
}

/* Headings */
h1 {
  color: #333;
  text-align: center;
}

/* Main Image */
main img {
  width: 100%;
  height: auto;
  border: 2px solid #ccc;
  padding: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

/* Aside */
aside {
  width: 90%;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f8f8f8;
  color: #333;
}

aside img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Paragraphs */
p {
  padding: 0;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 1em;
  margin-top: 20px;
  border-top: 2px solid #666;
  text-align: center;
}
